html, body, {
    position: fixed;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #C5C6C7;
    color:  #0d0d0d;
}

img{
    width: auto;
    align-self: center;
}

div {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

a{
    color: #59253A;
    text-decoration: none;
    font-style: oblique;
    align-content: center;
}

h1, h2{
    text-transform: uppercase;
    text-align: center;
}

h2{
    color: #0d0d0d;
    font-size: 40px;
    border-bottom: 4px solid #59253A;
    text-decoration: none;
}

p{
    text-align: justify;
    font-size: 30px;
    padding: 10px; 
}

.h3{
    font-size: 22px;
    text-transform: capitalize;
    color: #79c7ff ;
}


h4 {
    font-size: 20px;
    color: #0d0d0d;
    text-align: center;
    margin: 0;
    padding: 0;
}